body {
	padding-top: 70px;
	font-family: 'Sanchez', serif;
}

.profession, .name {
	text-align: center;
}

.profession, .job-title {
	font-family: 'Lobster', cursive;
}
.experience {
	padding : 10px;
	box-shadow:0 1px 2px #aaa;
	margin : 10px;
	width: 75%;
}

.job-title{
	font-size: 2.3em;
}

.job-duration{
	font-size: 1.0em;
	color: #777;
}
.job-summary {
	font-size: 1.0em;
}

.job-highlight{
	font-size: 1.3em;
}

.contact-info .fa-li{
	color: #777;
}
